.footer {
    height: 60px;
    width:100%;
    position:sticky;
    /* bottom: 0px; */
    background-color: rgba(255, 0, 0, 0.312);
    display: flex;
    align-items: center;
    justify-content: center;
}

#booking-page{
    /* background-color: green; */
    min-height:100vh;
    position:relative;
    padding: 0 20px;
    
}

.footer-label{
    margin-right: 20px;
}

#seating-layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seating-header {
    border: 2px solid green;
    padding: 10px;
    margin: 10px 0;
    font-weight: bold;
    border-radius: 10px;
}

.balcony .seating-section{
    display: grid;
    grid-template-columns: repeat(34, 20px);
    grid-template-rows: repeat(14, 16px); 
    column-gap: 5px;
    row-gap: 5px;
}

.balcony .seating-section .top-walkway{
    grid-column: 13/23;
}

.balcony .seating-section .walkway{
    grid-column: 17/19;
}

.row-name{
    grid-column: 1/3;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.balcony .row-end-name{
    grid-column: 33/35;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.backside .seating-section{
    display: grid;
    /* 2 extra columns fro walkway */
    grid-template-columns: repeat(26, 15px);
    grid-template-rows: repeat(14, 12px); 
    column-gap: 5px;
    row-gap: 5px;
}

.backside .seating-section .walkway{
    grid-column: 13/15;
}

.front .seating-section{
    display: grid;
    /* 2 extra columns fro walkway */
    grid-template-columns: repeat(30, 15px);
    grid-template-rows: repeat(12, 12px); 
    column-gap: 5px;
    row-gap: 5px;
}

.front .seating-section .walkway{
    grid-column: 15/17;
}


